.hero {
  z-index: 3;
  border-radius: 12px;
  position: relative;
  transition: all 300ms ease 100ms;

  .hero__image-container {
    position: relative;

    .hero__top-button {
      -webkit-box-align: center;
      align-items: center;
      cursor: pointer;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      border-radius: 50%;
      border: 1px solid #3a3f50;
      color: white;
      background-color: #282b39;
      margin: 0.25em;
      position: absolute;
      right: 0;
      z-index: 10;
      opacity: 0;
      transition: opacity 300ms ease 100ms;

      &:hover {
        border-color: #fff;
        background-color: rgba(58, 63, 80, 0.5);
      }
    }

    .hero-image {
      border-radius: 12px;
      transition: all 300ms ease 100ms;
      transition-delay: 400ms;
      aspect-ratio: 3 / 4;
      width: 100%;
    }

    .hero__image-shadow {
      position: absolute;
      height: calc(100% + 1px);
      width: 100%;
      top: 0;
      background: linear-gradient(to top, #282b39, transparent 50%);
      opacity: 0;
      transition: all 300ms ease 100ms;

      &.good {
        background: linear-gradient(
          to top,
          #282b39,
          #288c39 10%,
          transparent 40%
        );
      }

      &.bad {
        background: linear-gradient(
          to top,
          #282b39,
          #8c2b39 10%,
          transparent 40%
        );
      }
    }

    .hero__name {
      position: absolute;
      bottom: 0;
      z-index: 3;
      opacity: 0;
      transition: all 300ms ease 100ms;
    }
  }

  .hero__body {
    position: relative;
    transition: all 300ms ease 100ms;
    background-color: #282b39;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &:hover {
    z-index: 1000;
    cursor: pointer;
    transform: scale(1.5) translateY(-25%);
    transition-delay: 400ms;
    box-shadow: -1px 10px 15px 0 rgba(0, 0, 0, 50%);

    .hero__image-container {
      .hero__top-button {
        opacity: 1;
        transition-delay: 400ms;
      }
      .hero-image {
        border-radius: 6px;
      }

      .hero__image-shadow {
        opacity: 1;
        transition-delay: 400ms;
      }

      .hero__name {
        opacity: 1;
        transition-delay: 400ms;
      }
    }

    .hero__body {
      opacity: 1;
      visibility: visible;
      transition-delay: 400ms;
    }
  }

  @media (max-width: 380px) {
    &:hover {
      all: initial;
    }
  }
}
